.a-button {

  &.-main {
    @include inline-block;
    padding: 13px 72px;
    font-family: $font-noto-sans;
    text-transform: uppercase;
    border: 1px solid transparent;
    background-color: $green-2;
    color: $white;
    transition: color 400ms, background-color 400ms, border-color 400ms;

    &:hover {
      border: 1px solid $green-2;
      background-color: $white;
      color: $green-2;
    }

    &.-team {
      padding: 12px 41px;
      font-size: 24px;
      font-weight: 500;
    }
  }
}
