.a-hamburger {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 33px;
    transform: rotate(0);
    transition: .5s ease-in-out;
    cursor: pointer;
    border-radius: 50%;
    background-color: $green-1;
    z-index: 4;

    & div {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 50%;
        transform: translate(-50%, -50%);
    }

    @include media-up(l) {
        display: none;
    }

    & span {
        position: absolute;
        display: block;
        height: 4px;
        width: 33%;
        background: $white;
        opacity: 1;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        .-inversed & {
            background-color: $white;
        }

        .-sticky & {
            background-color: $white;
        }

        &:nth-child(even) {
            left: 50%;
            border-radius: 0 9px 9px 0;
        }

        &:nth-child(odd) {
            left: 6px;
            border-radius: 9px 0 0 9px;
        }

        &:nth-child(1),
        &:nth-child(2) {
            top: 0;
        }

        &:nth-child(3),
        &:nth-child(4) {
            top: 6px;
        }

        &:nth-child(5),
        &:nth-child(6) {
            top: 12px;
        }
    }

    &.-active {

        & span {
            background-color: $white;


            &:nth-child(1),
            &:nth-child(6) {
                transform: rotate(45deg);
            }

            &:nth-child(2),
            &:nth-child(5) {
                transform: rotate(-45deg);
            }

            &:nth-child(1) {
                left: 8px;
                top: 3px;
            }

            &:nth-child(2) {
                left: calc(50% - 2px);
                top: 3px;
            }

            &:nth-child(3) {
                left: -50%;
                opacity: 0;
            }

            &:nth-child(4) {
                left: 100%;
                opacity: 0;
            }

            &:nth-child(5) {
                left: 8px;
                top: 9px;
            }

            &:nth-child(6) {
                left: calc(50% - 2px);
                top: 9px;
            }
        }
    }
}