.a-icons {

    &.-close {
        position: absolute;
        top: 20px;
        right: 40px;
        width: 20px;
        height: 20px;
        margin-top: 0;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 15px;
            height: 2px;
            background-color: $black;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    &.-line {
        position: relative;
        width: 100%;
        height: 1px;
        background-color: $black;
    }

    &.-chevron {
        @include inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 15px;
        height: 20px;
        transform: translate(-50%, -50%);
        border: 2px solid $green-1;
        background-color: $white;
        box-shadow: 0 0 0 10px $white;

        &::before,
        &::after {
            content: '';
            position: absolute;
            bottom: 2px;
            width: 8px;
            height: 1px;
            border-top: 2px solid $green-1;
            background-color: $white;
        }

        &::before {
            left: 4px;
            box-shadow: 6px 6px 0 4px $white;
            transform: rotate(45deg);
        }

        &::after {
            left: 0;
            transform: rotate(-45deg);
        }
    }
}