
$white:     #fff !default;
$green-1:   #063 !default;
$green-2:   #5a8a73 !default;
$green-3:   #6d8776 !default;
$green-4:   #5a8a73 !default;
$gray-1:    #fbfbfb !default;
$gray-2:    #7a7a7a !default;
$gray-3:    #2e2c2c !default;
$black:     #000 !default;
$black-1:   #363535 !default;

// Set a specific jump point for requesting color jumps
$color-interval:      8% !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$contrast-threshold: 150 !default;