.m-copyright {
  display: flex;
  align-items: center;
  min-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  & ._w {
    justify-content: center;
  }

  &__content {
    font-family: $font-playfair-display;
    font-size: 20px;
    font-weight: 600;
    color: $black;
  }
}
