.m-hero {
    min-height: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: auto 120%;
    background-position: center top -135px;

    &__heading {
        margin-top: 20px;
        font-weight: 500;
        line-height: 1.8em;
        letter-spacing: 3px;
        text-transform: uppercase;

        @include media-up(m) {
            font-size: 34px;
        }
    }
}