.m-info {
  padding-top: 100px;
  padding-bottom: 50px;
  font-weight: 500;

  &__content {
    font-size: 26px;

    & a {
      color: $green-1;
      transition: 400ms;

      &:hover {
        color: $black;
      }
    }

    &.-wysiwyg {
      font-size: 20px;
      letter-spacing: 2px;
    }
  }
}
