.m-list {
  &.-primary {
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
    transition: transform 400ms ease-in, background-color 400ms ease-in-out,
      color 400ms ease-in-out;

    @include media-up(l) {
      @include whitespace-none;
      display: block;
      position: static;
      width: auto;
      height: auto;
    }

    &.-active {
      transform: translateX(-100%);
      background-color: transparentize($color: $black, $amount: .3);
      color: $white;

      @supports (backdrop-filter: none) {
        backdrop-filter: blur(10px);
      }
    }

    & li {
      font-size: 16px;
      cursor: pointer;
    }

    & li:not(.a-button) {
      @include inline-block;
      text-transform: uppercase;

      &.current-menu-item {
        color: $green-1;
      }

      & a {
        padding: 13px 44px;
        transition: background-color 400ms, color 400ms;

        @include media-up(l) {
          padding: 13px 15px;
        }

        @include media-up(xl) {
          padding: 13px 22px;
        }

        @include media-up(xxl) {
          padding: 13px 44px;
        }

        &.-active {
          background-color: $green-1;
          color: $white;
        }
      }
    }

    & .a-button {

      @include media-up(l) {
        padding: 13px 32px;
      }

      @include media-up(xl) {
        padding: 13px 72px;
      }
    }

    & a {
      color: inherit;
      transition: color 400ms;

      &:hover {
        color: $green-1;
      }
    }
  }

  &.-contact {
    display: flex;
    align-items: center;

    & li {
      @include first-of-type-none('margin-left', 100px);
      font-size: 26px;
      letter-spacing: 3px;
      text-transform: uppercase;
      transition: color 400ms;

      &:hover {
        color: $green-1;
      }
    }
  }

  &.-footer {
    margin-top: 20px;

    & a {
      color: inherit;
      transition: color 400ms;

      &:hover {
        color: $green-1;
      }
    }
  }

  &.-contactSocial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    & li {
      display: flex;
      align-items: center;

      &::after {
        content: '';
        width: 4px;
        height: 4px;
        margin: 0 30px;
        border-radius: 2px;
        opacity: .5;
        background-color: $white;
      }

      &:last-of-type::after {
        content: none;
      }
    }

    & a {
      font-size: $font-size-base;
      color: inherit;
      transition: color 400ms;
    }

    & a:hover {
      color: $green-1;
    }
  }
}
