.m-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    opacity: 0;
    background-color: transparentize($color: $black, $amount: .2);
    z-index: 5;
    transition: opacity 1000ms, transform 1000ms;
    transform: scale(0);

    &.-open {
        opacity: 1;
        transform: scale(1);
    }

    &__content {
        position: relative;
        top: 50%;
        left: 50%;
        width: 45%;
        max-height: 100vh;
        padding: 30px;
        font-family: $font-eb-garamond;
        text-align: center;
        background-color: $white;
        transform: translate(-50%, -50%);

        & > * {
            @include first-child-none('margin-top', 20px);
        }

        &--image {
            border-radius: 50%;
        }

        &--heading {
            margin-bottom: 30px;
            font-size: 36px;
            font-weight: 600;
            color: $gray-3;
        }

        &--subHeading {
            margin-top: 30px;
            font-size: 26px;
            font-weight: 300;
            color: $gray-3;
        }

        &--text {
            font-size: 20px;
            line-height: 1.2em;
            text-align: left;
            color: $gray-2;
        }
    }
}