.m-section {
    padding: 100px 0;

    &.-team {
        color: $white;
        background-color: $green-3;
    }

    &.-pb200 {
        padding-bottom: 200px;
    }

    &.-shapes {
        background-repeat: no-repeat;
        background-position: center right;
        background-attachment: fixed;
    }

    &.-country {
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom left;
        background-attachment: fixed;

        @include media-up(l) {
            min-height: 636px;
        }
    }

    &__heading {
        font-family: $font-playfair-display;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    &__text {
        margin-top: 20px;
        font-family: $font-eb-garamond;
        font-weight: 500;
        line-height: 1.2em;

        @include media-up(m) {
            font-size: 40px;
        }
    }

    &__sections {
        width: 100%;
        padding: 50px 0;

        &.-pt0 {
            padding-top: 0;
        }

        &.-pr30 {
            padding-right: 30px;
        }

        @include media-up(l) {
            padding: 100px 0;

            &:last-of-type {
                padding-bottom: 0;
            }
        }

        &--heading {
            font-family: $font-playfair-display;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 5px;
        }

        &--heading.-small {
            font-size: 40px;
        }

        &--text {
            margin-top: 20px;
            font-family: $font-eb-garamond;
            font-size: 40px;
            font-weight: 500;
            font-style: italic;
            line-height: 1.2em;
        }

        &--text.-normal {
            font-size: 35px;
            font-style: normal;
            line-height: 1em;
        }

        &--subHeading {
            margin-top: 20px;
            font-family: $font-eb-garamond;
            font-size: 40px;
            font-style: italic;
            font-weight: 500;
        }
    }
}