.m-slider {

    &.-logos {
        padding: 100px 0;
        overflow: hidden;
    }

    &__pagination {
        text-align: center;
    }

    & .swiper-horizontal > 
    .swiper-pagination-bullets
    .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        margin: 0 6px;
    }

    & .swiper-pagination-bullet-active {
        background-color: $black;
    }
}