.m-team {
    font-family: $font-eb-garamond;

    &.-team {
        padding: 100px 0;
    }

    &.-investment {
        font-family: $font-eb-garamond;
        padding-bottom: 100px;
    }

    &__heading {
        width: 100%;
        font-family: $font-playfair-display;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;

        @include media-up(l) {
            text-align: left;
        }
    }

    &__column {

        &:first-of-type {
            margin-top: 100px;
        }

        @include media-up(l) {
            margin-top: 100px;
        }
    }

    &__content {
        text-align: center;

        & > * {
            @include first-child-none('margin-top', 20px);
            cursor: pointer;
        }

        &--image {
            max-width: 160px;
            border-radius: 50%;
        }

        &--heading {
            font-size: 34px;
            font-weight: 600;
        }

        &--text {
            font-size: 32px;
            font-weight: 400;
            color: $green-4;
        }
    }
}