.m-twoSection {
    padding: 100px 0;

    &__column {

        &.-second {
            transition: transform 1000ms;
        }
    }

    &.-team {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 1050px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__content {

        .-first & {

            & > * {
                @include first-child-none('margin-top', 50px);
            }

            &--heading {
                font-family: $font-playfair-display;
                font-weight: 500;
                font-size: 60px;
                text-transform: uppercase;
            }

            &--text {
                font-family: $font-eb-garamond;
                font-weight: 500;
                font-style: italic;
                font-size: 40px;

                @include media-up(l) {
                    margin-top: 200px;
                }
            }
        }

        .-second & {
            font-family: $font-playfair-display;

            & > * {
                @include first-child-none('margin-top', 20px);
            }

            &--heading {
                font-size: 40px;
                font-weight: 500;
                text-transform: uppercase;
            }

            &--text {
                font-size: 30px;
            }
        }
    }
}