// Use $font-path from _vars/_base.scss as path to fonts folder or update it here
// Use https://transfonter.org/ to generate fonts and update font path here
// Default font path (relative to style.css) is ../fonts (that is value of $font-path)

@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}/OpenSans/OpenSans-Regular.eot');
    src: url('#{$font-path}/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/OpenSans/OpenSans-Regular.woff2') format('woff2'),
    url('#{$font-path}/OpenSans/OpenSans-Regular.woff') format('woff'),
    url('#{$font-path}/OpenSans/OpenSans-Regular.ttf') format('truetype'),
    url('#{$font-path}/OpenSans/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}/OpenSans/OpenSans-Italic.eot');
    src: url('#{$font-path}/OpenSans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/OpenSans/OpenSans-Italic.woff2') format('woff2'),
    url('#{$font-path}/OpenSans/OpenSans-Italic.woff') format('woff'),
    url('#{$font-path}/OpenSans/OpenSans-Italic.ttf') format('truetype'),
    url('#{$font-path}/OpenSans/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}/OpenSans/OpenSans-SemiBold.eot');
    src: url('#{$font-path}/OpenSans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/OpenSans/OpenSans-SemiBold.woff2') format('woff2'),
    url('#{$font-path}/OpenSans/OpenSans-SemiBold.woff') format('woff'),
    url('#{$font-path}/OpenSans/OpenSans-SemiBold.ttf') format('truetype'),
    url('#{$font-path}/OpenSans/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}/OpenSans/OpenSans-Bold.eot');
    src: url('#{$font-path}/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/OpenSans/OpenSans-Bold.woff2') format('woff2'),
    url('#{$font-path}/OpenSans/OpenSans-Bold.woff') format('woff'),
    url('#{$font-path}/OpenSans/OpenSans-Bold.ttf') format('truetype'),
    url('#{$font-path}/OpenSans/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans';
    src: url('#{$font-path}/NotoSans%20JP/NotoSansJP-Regular-Alphabetic.eot');
    src: url('#{$font-path}/NotoSans%20JP/NotoSansJP-Regular-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/NotoSans%20JP/NotoSansJP-Regular-Alphabetic.woff2') format('woff2'),
        url('#{$font-path}/NotoSans%20JP/NotoSansJP-Regular-Alphabetic.woff') format('woff'),
        url('#{$font-path}/NotoSans%20JP/NotoSansJP-Regular-Alphabetic.ttf') format('truetype'),
        url('#{$font-path}/NotoSans%20JP/NotoSansJP-Regular-Alphabetic.svg#NotoSansJP-Regular-Alphabetic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSans';
    src: url('#{$font-path}/NotoSans%20JP/NotoSansJP-Light-Alphabetic.eot');
    src: url('#{$font-path}/NotoSans%20JP/NotoSansJP-Light-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/NotoSans%20JP/NotoSansJP-Light-Alphabetic.woff2') format('woff2'),
        url('#{$font-path}/NotoSans%20JP/NotoSansJP-Light-Alphabetic.woff') format('woff'),
        url('#{$font-path}/NotoSans%20JP/NotoSansJP-Light-Alphabetic.ttf') format('truetype'),
        url('#{$font-path}/NotoSans%20JP/NotoSansJP-Light-Alphabetic.svg#NotoSansJP-Light-Alphabetic') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSans';
    src: url('#{$font-path}/NotoSans%20JP/NotoSansJP-Medium-Alphabetic.eot');
    src: url('#{$font-path}/NotoSans%20JP/NotoSansJP-Medium-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/NotoSans%20JP/NotoSansJP-Medium-Alphabetic.woff2') format('woff2'),
        url('#{$font-path}/NotoSans%20JP/NotoSansJP-Medium-Alphabetic.woff') format('woff'),
        url('#{$font-path}/NotoSans%20JP/NotoSansJP-Medium-Alphabetic.ttf') format('truetype'),
        url('#{$font-path}/NotoSans%20JP/NotoSansJP-Medium-Alphabetic.svg#NotoSansJP-Medium-Alphabetic') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSans';
    src: url('#{$font-path}/NotoSans%20JP/NotoSansJP-Thin-Alphabetic.eot');
    src: url('#{$font-path}/NotoSans%20JP/NotoSansJP-Thin-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/NotoSans%20JP/NotoSansJP-Thin-Alphabetic.woff2') format('woff2'),
        url('#{$font-path}/NotoSans%20JP/NotoSansJP-Thin-Alphabetic.woff') format('woff'),
        url('#{$font-path}/NotoSans%20JP/NotoSansJP-Thin-Alphabetic.ttf') format('truetype'),
        url('#{$font-path}/NotoSans%20JP/NotoSansJP-Thin-Alphabetic.svg#NotoSansJP-Thin-Alphabetic') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSans';
    src: url('#{$font-path}/NotoSans%20JP/NotoSansJP-Black-Alphabetic.eot');
    src: url('#{$font-path}/NotoSans%20JP/NotoSansJP-Black-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/NotoSans%20JP/NotoSansJP-Black-Alphabetic.woff2') format('woff2'),
        url('#{$font-path}/NotoSans%20JP/NotoSansJP-Black-Alphabetic.woff') format('woff'),
        url('#{$font-path}/NotoSans%20JP/NotoSansJP-Black-Alphabetic.ttf') format('truetype'),
        url('#{$font-path}/NotoSans%20JP/NotoSansJP-Black-Alphabetic.svg#NotoSansJP-Black-Alphabetic') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSans';
    src: url('#{$font-path}/NotoSans%20JP/NotoSansJP-Bold-Alphabetic.eot');
    src: url('#{$font-path}/NotoSans%20JP/NotoSansJP-Bold-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/NotoSans%20JP/NotoSansJP-Bold-Alphabetic.woff2') format('woff2'),
        url('#{$font-path}/NotoSans%20JP/NotoSansJP-Bold-Alphabetic.woff') format('woff'),
        url('#{$font-path}/NotoSans%20JP/NotoSansJP-Bold-Alphabetic.ttf') format('truetype'),
        url('#{$font-path}/NotoSans%20JP/NotoSansJP-Bold-Alphabetic.svg#NotoSansJP-Bold-Alphabetic') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('#{$font-path}/Playfair%20Display/PlayfairDisplay-ExtraBoldItalic.eot');
    src: url('#{$font-path}/Playfair%20Display/PlayfairDisplay-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-ExtraBoldItalic.woff2') format('woff2'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-ExtraBoldItalic.woff') format('woff'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-ExtraBoldItalic.ttf') format('truetype'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-ExtraBoldItalic.svg#PlayfairDisplay-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Medium.eot');
    src: url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Medium.woff2') format('woff2'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Medium.woff') format('woff'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Medium.ttf') format('truetype'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Medium.svg#PlayfairDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Italic.eot');
    src: url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Italic.woff') format('woff'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Italic.ttf') format('truetype'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('#{$font-path}/Playfair%20Display/PlayfairDisplay-SemiBold.eot');
    src: url('#{$font-path}/Playfair%20Display/PlayfairDisplay-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-SemiBold.woff2') format('woff2'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-SemiBold.woff') format('woff'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-SemiBold.ttf') format('truetype'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-SemiBold.svg#PlayfairDisplay-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Black.eot');
    src: url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Black.woff2') format('woff2'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Black.woff') format('woff'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Black.ttf') format('truetype'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Black.svg#PlayfairDisplay-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('#{$font-path}/Playfair%20Display/PlayfairDisplay-BlackItalic.eot');
    src: url('#{$font-path}/Playfair%20Display/PlayfairDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-BlackItalic.woff') format('woff'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-BlackItalic.ttf') format('truetype'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-BlackItalic.svg#PlayfairDisplay-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('#{$font-path}/Playfair%20Display/PlayfairDisplay-MediumItalic.eot');
    src: url('#{$font-path}/Playfair%20Display/PlayfairDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-MediumItalic.woff2') format('woff2'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-MediumItalic.woff') format('woff'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-MediumItalic.ttf') format('truetype'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-MediumItalic.svg#PlayfairDisplay-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Regular.eot');
    src: url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Regular.woff') format('woff'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('#{$font-path}/Playfair%20Display/PlayfairDisplay-SemiBoldItalic.eot');
    src: url('#{$font-path}/Playfair%20Display/PlayfairDisplay-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-SemiBoldItalic.woff2') format('woff2'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-SemiBoldItalic.woff') format('woff'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-SemiBoldItalic.ttf') format('truetype'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-SemiBoldItalic.svg#PlayfairDisplay-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Bold.eot');
    src: url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Bold.woff') format('woff'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('#{$font-path}/Playfair%20Display/PlayfairDisplay-BoldItalic.eot');
    src: url('#{$font-path}/Playfair%20Display/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-BoldItalic.woff') format('woff'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('#{$font-path}/Playfair%20Display/PlayfairDisplay-ExtraBold.eot');
    src: url('#{$font-path}/Playfair%20Display/PlayfairDisplay-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-ExtraBold.woff2') format('woff2'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-ExtraBold.woff') format('woff'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-ExtraBold.ttf') format('truetype'),
        url('#{$font-path}/Playfair%20Display/PlayfairDisplay-ExtraBold.svg#PlayfairDisplay-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('#{$font-path}/EB%20Garamond/EBGaramond-ExtraBoldItalic.eot');
    src: url('#{$font-path}/EB%20Garamond/EBGaramond-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-ExtraBoldItalic.woff2') format('woff2'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-ExtraBoldItalic.woff') format('woff'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-ExtraBoldItalic.ttf') format('truetype'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-ExtraBoldItalic.svg#EBGaramond-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('#{$font-path}/EB%20Garamond/EBGaramond-Medium.eot');
    src: url('#{$font-path}/EB%20Garamond/EBGaramond-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-Medium.woff2') format('woff2'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-Medium.woff') format('woff'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-Medium.ttf') format('truetype'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-Medium.svg#EBGaramond-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('#{$font-path}/EB%20Garamond/EBGaramond-Italic.eot');
    src: url('#{$font-path}/EB%20Garamond/EBGaramond-Italic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-Italic.woff2') format('woff2'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-Italic.woff') format('woff'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-Italic.ttf') format('truetype'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-Italic.svg#EBGaramond-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('#{$font-path}/EB%20Garamond/EBGaramond-Regular.eot');
    src: url('#{$font-path}/EB%20Garamond/EBGaramond-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-Regular.woff2') format('woff2'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-Regular.woff') format('woff'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-Regular.ttf') format('truetype'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-Regular.svg#EBGaramond-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('#{$font-path}/EB%20Garamond/EBGaramond-MediumItalic.eot');
    src: url('#{$font-path}/EB%20Garamond/EBGaramond-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-MediumItalic.woff2') format('woff2'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-MediumItalic.woff') format('woff'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-MediumItalic.ttf') format('truetype'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-MediumItalic.svg#EBGaramond-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('#{$font-path}/EB%20Garamond/EBGaramond-SemiBold.eot');
    src: url('#{$font-path}/EB%20Garamond/EBGaramond-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-SemiBold.woff2') format('woff2'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-SemiBold.woff') format('woff'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-SemiBold.ttf') format('truetype'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-SemiBold.svg#EBGaramond-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('#{$font-path}/EB%20Garamond/EBGaramond-ExtraBold.eot');
    src: url('#{$font-path}/EB%20Garamond/EBGaramond-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-ExtraBold.woff2') format('woff2'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-ExtraBold.woff') format('woff'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-ExtraBold.ttf') format('truetype'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-ExtraBold.svg#EBGaramond-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('#{$font-path}/EB%20Garamond/EBGaramond-Bold.eot');
    src: url('#{$font-path}/EB%20Garamond/EBGaramond-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-Bold.woff2') format('woff2'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-Bold.woff') format('woff'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-Bold.ttf') format('truetype'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-Bold.svg#EBGaramond-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('#{$font-path}/EB%20Garamond/EBGaramond-SemiBoldItalic.eot');
    src: url('#{$font-path}/EB%20Garamond/EBGaramond-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-SemiBoldItalic.woff2') format('woff2'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-SemiBoldItalic.woff') format('woff'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-SemiBoldItalic.ttf') format('truetype'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-SemiBoldItalic.svg#EBGaramond-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('#{$font-path}/EB%20Garamond/EBGaramond-BoldItalic.eot');
    src: url('#{$font-path}/EB%20Garamond/EBGaramond-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-BoldItalic.woff2') format('woff2'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-BoldItalic.woff') format('woff'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-BoldItalic.ttf') format('truetype'),
        url('#{$font-path}/EB%20Garamond/EBGaramond-BoldItalic.svg#EBGaramond-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}