@mixin inline-block() {
    display: inline-block;
    vertical-align: middle;
}

@mixin whitespace-none() {
    font-size: 0;
}

@mixin last-of-type-none($property, $value) {
    #{$property}: $value;

    &:last-of-type {
        #{$property}: 0;
    }
}

@mixin first-of-type-none($property, $value) {
    #{$property}: $value;

    &:first-of-type {
        #{$property}: 0;
    }
}

@mixin first-child-none($property, $value) {
    #{$property}: $value;

    &:first-child {
        #{$property}: 0;
    }
}