.-ai {

    &c {
        align-items: center;
    }
}

.-jc {

    &sb {
        justify-content: space-between;
    }

    &c {
        justify-content: center;
    }
}

.-ml {

    &a {
        margin-left: auto;
    }
}

.-p {

    &v {

        &15 {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
}

.-scrollY0 {
    overflow-y: hidden;
}